
/*-----------index.html---------*/

.background-etusivu {
  background-color: #f8f9fa; 
  margin: 0; /* Poista sivun reunus */
  padding: 0; /* Poista sivun marginaali */
}

.background-etusivu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Aseta taustakuva taakse muihin elementteihin nähden */
  
  background-image: url('images/taivasVaalea.jpg');
  background-size: cover; /* Skaalaa kuva kattamaan koko taustan */
  background-position: center; /* Aseta kuva keskelle taustaa */
  background-repeat: no-repeat; /* Estä kuvan toisto */
}

/*-----------about.html---------*/


.background-aboutSivu {
  background-color: #f8f9fa; 
  margin: 0; /* Poista sivun reunus */
  padding: 0; /* Poista sivun marginaali */
}

.background-aboutSivu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Aseta taustakuva taakse muihin elementteihin nähden */
  
  background-image: url('images/taivasAbout.jpg');                  
  background-size: cover; /* Skaalaa kuva kattamaan koko taustan */
  background-position: center; /* Aseta kuva keskelle taustaa */
  background-repeat: no-repeat; /* Estä kuvan toisto */
}

.forecast-container {
  height: 300px; /* Aseta haluamasi korkeus */
  overflow: auto; /* Mahdollista vieritys, jos sisältö ylittää korkeuden */
  width: 68%
}



.table-scroll {
  overflow-x: auto; /* Varmista vaakasuuntainen vieritys tarvittaessa */
}

 #forecastTable {
  width: 100%; 
}






